body {
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #04759f, #5fa5be, #eff3ff);
}

.header h1:hover {
  text-align: center;
  color: #04759f;
  font-family: "Arsenal", sans-serif;
}

.header h1 {
  width: 100%;
  text-align: center;
  padding: 50px;
  color: white;
  font-family: "Arsenal", sans-serif;
}

.field-header {
  width: 100%;
  font-size: 32px;
  text-align: center;
  padding: 30px;
  color: white;
  font-family: "Arsenal", sans-serif;
}

hr.rounded {
  border-top: 8px solid rgba(255, 255, 255, 0.41);
  border-radius: 5px;
}

.return-result {
  color: white;
  font-family: "Arsenal", sans-serif;
  width: 100%;
}

.btn-outline-success {
  color: #0393c9;
  background-color: #9fc9dc;
  width: 24%;
  border-radius: 7px;
  margin: 10px;
  padding: 15px;
  border-color: #0393c9;
  box-shadow: 50px;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-outline-success:hover {
  color: #9fc9dc;
  background-color: #04759f;
  width: 24%;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 15px 20px #06435c;
  transform: translateY(-7px);
}

.container-fluid {
  width: 100%;
  margin: auto;
  padding: 10px;
}

.input-areas {
  margin: auto;
  padding: 25px;
  font-family: "Arsenal", sans-serif;
}

input {
  font-size: 35px;
  color: #04759f;
}

.num-1-input {
  width: 200px;
  height: 100px;
  margin: auto;
}

.num-2-input {
  width: 200px;
  height: 100px;
  margin: auto;
}

.num-3-input {
  width: 200px;
  height: 100px;
  margin: auto;
}

.num-4-input {
  width: 300px;
  height: 100px;
  margin: auto;
}

.field-4 {
  width: 400px;
  height: 100px;
  margin: auto;
}

.all-calc-buttons {
  width: 100%;
  text-align: center;
}

.row {
  justify-content: center;
}

.container-fluid {
  width: 100%;
  text-align: center;
}

.blokk-1 {
  margin-top: 1px;
  margin-bottom: 80px;
}

.blokk-2 {
  margin: 50px;
}

.blokk-3 {
  margin: 80px;
}

.blokk-4 {
  margin: 80px;
  margin-bottom: 500px;
}
